.App {
  text-align: center;
}

.heading {
  color: blue;
}

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
